*~
.cache
.ghc
.histfile
.lesshst
.nix-defexpr
.nix-profile
result
.ssh
.bash_history
.zcompdump*
.zsh_history
stiebel-user
stiebel-pass
.config/chromium/
.config/google-chrome/
.config/configstore/
.npm
.local/
.mozilla/
.pki/
.config/tarsnap/tarsnap.key 
pwd
